@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Questrial&display=swap');

/* @font-face {
    font-family: 'Ace Sans';
    src: url(fonts/Ace\ Sans.otf);
} */

.navbar {
    /* --bs-navbar-toggler-icon-bg: url(Hamburgir-Menu.png) !important; */
    transition: ease-in-out 0.6s;
}

.bg-light {
    --bs-bg-opacity: 0 !important;
}

.fixed-top {
    position: relative !important;
}

.navbar-toggler {
    padding: 0.2vw 0.2vw 0.2vw 0.2vw  !important;
    line-height: 0 !important;
}

.navbar-toggler-icon {
    background-image: var(--bs-navbar-toggler-icon-bg) !important;
    width: 1em !important;
    height: 1em !important;
}

.sub-container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4vw;
}

.btn {
    --bs-btn-padding-x: 0.25rem !important;
    --bs-btn-padding-y: 0.10rem !important;
}

.btn-outline-dark {
    font-size: 1.25rem !important;
    font-weight: bolder !important;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
}

.offcanvas-title {
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder !important;
    font-size: 2.5rem !important;
} 

.navbar > .container-fluid > .offcanvas > .offcanvas-body > .navbar-nav > .nav-item > .nav-link {
    margin: 0.225rem;
    padding: 0.225rem;
    border-radius: 0.225rem;
    font-family: 'Josefin Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem !important;
    font-weight: bolder !important;
    transition: ease-in-out 0.5s !important;
}

.navbar > .container-fluid > .offcanvas > .offcanvas-body > .navbar-nav > .nav-item > .nav-link:hover {
    font-size: 2.25rem !important;
}

.container {
    height: 92vh !important;
}

.container > video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(0.7);
}

.hdng-Container {
    position: absolute;
    display: flex;
    top: 50.4vh;
    left: 10.2vw;
}

.hdng-Sub-Container {
    padding: 0vw 2vw 0vw 2vw;
    color: #ffffff;
    border-radius: 0.4rem;
}

.h-One, .h-Three {
    text-align: center;
    font-family: 'Ace Sans' , 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
}

.h-One {
    font-size: 12vw !important;
}

.h-Three {
    font-size: 4vw !important;
}

.collgDropDown{
    text-align: center;
    width: 40vw;
    height: 8vh;
    margin: 0 30vw;
}

.dropDownClick{
    background-color: #a5a2a2;
    border-style: none;
}

.dropDownList{
    width: 40vw;
    background-color: #797979;
}

.dropDownCollgName{
    height: 6vh;
}

.dropDownCollgName:active{
    background-color: #232323;
}

.srvcsContainer {
    height: 100%;
    margin: 0.8rem;
    padding: 0.8rem;
    position: relative;
}

.srvcsContainer > .nav {
    position: relative;
    top: 1.25rem;
    border-radius: 0.875rem;
    background-color: #ffffff;
    background: linear-gradient(450deg, #ececec, #e1e1e1);
    box-shadow:  1px 1px 1px #a5a2a2, 2.5px 2.5px 2.5px #a5a2a2;
}

.srvcsContainer > .nav-tabs {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 0.275rem;
}

.srvcsContainer > .nav > .nav-item > .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.725rem;
    color: #000000;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.srvcsContainer > .tab-content {
    height: 100%; 
    padding: 1.725rem 0.725rem 0.725rem 0.725rem;
    background-color: #ffffff;
    border-radius: 0.725rem;
    box-shadow: -2px 2px 2.5px #b3b3b3, 2.5px 2.5px 2.5px #bababa;
}

.htlsTabHdng {
    padding: 2%;
    text-align: center;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 0.8rem;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row {
    height: 100%;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-4 > .img-fluid {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body {
    vertical-align: middle;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .card-head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .card-head > .htl-rtng > .rtng-text {
    padding: 0rem 0.6rem 0rem 0.4rem;
    border-radius: 0.2rem;
    color: #ffffff;
    background-color: #19c919;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htls-dtls > .dtls-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 1.6rem;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htls-dtls > .dtls-wrapper > .dtls-span {
    color: #5a5c5e;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htl-price-bkng {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htl-price-bkng > .htl-price {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htl-price-bkng > .htl-price > .htl-slashd-price {
    padding-top: 0.2rem;
    font-size: 1.8vh;
    line-height: 1.6vh;
    color: #5a5c5e;
    text-align: left;
    text-decoration: line-through;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htl-price-bkng > .htl-price > .htl-fnl-price {
    padding-top: 0.2rem;
    text-align: left;
    font-size: 4vh;
    line-height: 3.6vh;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htl-price-bkng > .htl-price > .htl-price-per-time {
    font-size: 2vh;
    line-height: 1.8vh;
    color: #5a5c5e;
    text-align: left;
}

.srvcsContainer > .tab-content > .hotel > .htlsCntnr > .card > .row > .col-md-8 > .card-body > .htl-price-bkng > .htl-bkng {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 0.4rem;
}

.rstrntsTabHdng {
    padding: 2%;
    text-align: center;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card {
    border: none;
    transition-duration: 0.8s;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card:hover {
    box-shadow: 2.25px 2.25px 2.25px 2.25px rgba(0,0,0,0.1);
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body {
    height: 100%;
    width: 100%;
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .restro {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0rem;
    column-gap: 2rem;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .card-title {
    text-align: start;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body >  .restro > .card-text {
    padding: 0% 2% 0% 2%;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #19c919;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .restro-info {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0rem;
    column-gap: 1.6rem;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .restro-info > .lctns-text {
    text-align: start;
    color: #6d6d6d;
}

.srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .restro-info > .ctgry-text {
    width: 6.5rem;
    text-align: end;
    color:#6d6d6d;
}

.cafesAndLoungesTabHdng {
    padding: 2%;
    text-align: center;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card {
    border: none;
    transition-duration: 0.8s;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card:hover {
    box-shadow: 2.25px 2.25px 2.25px 2.25px rgba(0,0,0,0.1);
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-img-top {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body {
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body > .card-title {
    width: 100%;
    margin: 0rem;
    text-align: start;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body > .card-text {
    color: #6d6d6d;
    text-align: start;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body > .sub-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0.25rem;
    column-gap: 1.25rem;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body > .sub-info > .rtngs-text {
    padding: 0% 2.5% 0% 1.5%;
    border-radius: 0.25rem;
    color: #ffffff;
    background-color: #19c919;
}

.srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body > .sub-info > .price-text {
    border-radius: 0.25rem;
    text-align: start;
    color: #6d6d6d;
}

.vacationTabHdng {
    padding: 2%;
    text-align: center;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tab-content > .vacation > .card {
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem;
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.tab-content > .vacation > .card:hover {
    box-shadow: 2.25px 2.25px 2.25px 2.25px rgba(0,0,0,0.1);
}

.tab-content > .vacation > .card > .card-img-top {
    border-radius:  0.35rem 0.35rem 0rem 0rem;
}

.tab-content > .vacation > .card > .card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.tab-content > .vacation > .card > .card-body > .card-title {
    text-align: start;
    font-size: 3vw;
}

.tab-content > .vacation > .card > .card-body > .card-text {
    text-align: start;
    font-size: 1.5vw;
    color: #6d6d6d;
}

.tab-content > .vacation > .card > .prmry-dtls {
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.8rem;
}

.tab-content > .vacation > .card > .prmry-dtls > .lctns-dtls {
    width: 25rem;
    padding: 0% 1.2% 0% 1.2%;
}

.tab-content > .vacation > .card > .prmry-dtls > .booking-optns {
    width: 10rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.tab-content > .vacation > .card > hr {
    margin: 0.775rem;
}

.tab-content > .vacation > .vctns-cntnr {
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1.2rem;
    border: none;
    border-radius: 0.525rem;
    display: flex;
    flex-direction: row;
    box-shadow: 2.25px 2.25px 2.25px 2.25px rgba(0,0,0,0.2);
}

.tab-content > .vacation > .vctns-cntnr > .card {
    width: 100% !important;
    border: none;
}

.tab-content > .vacation > .vctns-cntnr > .card > .card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tab-content > .vacation > .vctns-cntnr > .card > .card-body > .card-title {
    font-size: 4vw;
}

.tab-content > .vacation > .vctns-cntnr > .card > .card-body > .card-text {
    padding: 1.2rem;
    font-size: larger;
    font-weight: 200;
    color: #5c5c5c;
}

.tab-content > .vacation > .vctns-cntnr > .vacation-slider {
    height: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    overflow-x: auto;
    overflow-y: none;
}

.vacation-slider::-webkit-scrollbar {
    width: 0rem;
}

.tab-content > .vacation > .vctns-cntnr > .vacation-slider > .vacation-card-small {
    margin: 1rem;
    text-align: start;
}

.tab-content > .vacation > .vctns-cntnr > .vacation-slider > .vacation-card-small > .card {
    border: none;
}

.tab-content > .vacation > .vctns-cntnr > .vacation-slider > .vacation-card-small > .card > .card-body > .card-title {
    text-align: start;
    font-weight: 800;
}

.tab-content > .vacation > .vctns-cntnr > .vacation-slider > .vacation-card-small > .card > .card-body > .card-text {
    text-align: start;
}

.prllx-cntnr {
    margin: 2rem 0rem 2rem 0rem;
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    /* background-image: url(images/Parallax\ Vector\ Illustration.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
}

.prllx-cntnr > .prllx-cntnt > .card-title {
    padding: 2rem;
    text-align: center;
    font-size: 6vw;
    font-weight: 800;
    font-family: 'Ace Sans', 'Joesfin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.abtContainer {
    max-height: 100%;
    max-width: 100%;
    padding: 2rem;
    background-color: #0000000d;
}

.accordion {
    --bs-accordion-btn-padding-x: 0.8rem !important;
    --bs-accordion-btn-padding-y: 0.8rem !important;
    border-radius: 0.95rem !important;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accordion-button {
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x) !important;
}

.team-hdng {
    text-align: center;
    font-size: 4rem;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cntnr-team {
    display: flex;
    justify-content: center;
}

.cntnr-team > .cmpny-team-img {
    width: 75vw;
    height: 75vh;
    object-fit: contain;
}

.cntnr-team > .trpzm-quote {
    width: 100vw;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-footer {
    font-family: 'Josefin Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-footer > .social-icons {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

@media screen and (max-width: 864px) {

    .srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .restro-info > .ctgry-text {
        text-align: start;
        color:#6d6d6d;
    }
    
}

@media screen and (min-width:769px) {

    .navbar-brand{
        position: relative !important;
        left: 4% !important;
    }

    .install-app {
        display: none;
        pointer-events: none;
    }
}

@media screen and (max-width:768px) {

    .navbar-brand{
        position: relative !important;
        left: 4% !important;
    }

    .signUp-and-signIn {
        display: none;
        pointer-events: none;
    }

    .tab-content > .vacation > .card {
        margin: 1rem;
        border: 2px solid #a9a9a9;
        padding: 0rem !important;
    }

    .tab-content > .vacation > .card > .prmry-dtls{
        display: none;
        pointer-events: none;
    }

    .tab-content > .vacation > .card > hr {
        display: none;
        pointer-events: none;
    }

    .srvcsContainer > .tab-content > .restaurant > .row > .col > .card {
        border: 0.0175rem solid #a9a9a9;
    }
    
    .srvcsContainer > .tab-content > .restaurant > .row > .col > .card:hover {
        box-shadow: none
    }

    .srvcsContainer > .tab-content > .restaurant > .row > .col > .card > .card-body > .Restaurants-end-divider {
        display: none;
    }

    .srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card {
        border: 0.0175rem solid #a9a9a9;
    }

    .srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card:hover {
        box-shadow: none;
    }

    .srvcsContainer > .tab-content > .cafesAndLounges > .row > .col > .card > .card-body > .CafesAndLounges-end-divider {
        display: none;
    }

    .tab-content > .vacation > .card > .card-body > .card-title {
        text-align: start;
        font-size: 8vw;
    }
    
    .tab-content > .vacation > .card > .card-body > .card-text {
        text-align: start;
        font-size: 4vw;
    }

    .tab-content > .vacation > .vctns-cntnr {
        display: flex;
        flex-direction: column;
    }

    .tab-content > .vacation > .vctns-cntnr > .card > .card-body > .card-title {
        font-size: 10vw;
    }

    .tab-content > .vacation > .vctns-cntnr > .vacation-slider > .vacation-card-small {
        margin: 0rem;
    }

    .tab-content > .vacation > .vctns-cntnr > .vacation-slider > .vacation-card-small > .card {
        border: 0.064rem solid rgba(0, 0, 0, 0.175);
    }

}